// Colors for social icons
$github: #24292e;
$twitter: #1DA1F2;
$linkedin: #0e76a8;
$rss: #f26522;
$mail: #5d5c5d;
$instagram: #e1306c;
$facebook: #3b5998;
$messenger: #0084ff;
$youtube: #ff0000;
$whatsapp: #25d366;
$reddit: #ff4500;

header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  
    #site_title{
        margin-top:2rem;
        text-align: center;
        color: rgb(238, 238, 238);
        a{
            text-decoration: none;
            color: white;
        
        }
        a:hover{
            color:rgb(224, 224, 224);
        }
        h1{
            margin-top:1rem;
            margin-bottom: 0px;
            color:white;
        }
        h2{
            margin-bottom:40px;
            font-style: oblique;
            font-size: 1.2rem;
            color:white;
        }
    }
    #subheader{
        display: block;
        margin-top: 15px;
            .pages{
                display: block;
                float: left;
                a:hover{
                    color: white;
                }
                a{
                    text-decoration: none;
                    color: $base; 
                    font-family: 'PT Serif', serif;
                    margin-right: 3px;
                    font-size: 1.05rem;
                }
            }
            .social{
                display: block;
                float: right;
                margin-bottom:2rem;
                i{
                    margin-right: 3px;
                    -o-transition: .5s;
                    -ms-transition: .5s;
                    -moz-transition: .5s;
                    -webkit-transition: .5s;
                    transition: .5s;
                }
                a{
                    color: $base;
                }
                i{
                    font-size: 1.1rem;
                }
                #github:hover{
                    color: $github;
                }
                #twitter:hover{
                    color: $twitter;
                }
                #linkedin:hover{
                    color: $linkedin;
                }
                #rss:hover{
                    color: $rss;
                }
                #envelope:hover{
                    color: $mail;
                }
                #instagram:hover{
                    color: $instagram;
                }
                #facebook:hover{
                    color: $facebook;
                }
                #messenger:hover{
                    color: $messenger;
                }
                #youtube:hover{
                    color: $youtube;
                }
                #whatsapp:hover{
                    color: $whatsapp;
                }
                #reddit:hover{
                    color: $reddit;
                }
            }
        }
}